fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
langchain==0.2.6
langchain-groq==0.1.6
langchain-community==0.2.6
langgraph==0.1.19
crewai
langsmith==0.1.82
sqlalchemy==2.0.31
asyncpg==0.29.0
alembic==1.13.2
psycopg2-binary==2.9.9
chromadb
celery==5.4.0
redis==5.0.7
pypdf==4.2.0
python-multipart==0.0.9
structlog==24.2.0
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
httpx==0.27.0
faker==25.9.2
pytest==8.2.2
pytest-asyncio==0.23.7
prometheus-fastapi-instrumentator==7.0.0
ddgs==6.2.4
tenacity==8.3.0
slowapi==0.1.9
sentence-transformers==3.0.1